<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="office/layout/layout">
<head>
    <meta charset="UTF-8">
    <title>TodoService</title>
</head>
<th:block layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <tr>
                    <th scope="col">E-mail</th>
                    <td>
                        <input type="email" name="email" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th scope="col">PassWord</th>
                    <td>
                        <input type="password" name="password" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th scope="col">PassWord 확인</th>
                    <td>
                        <input type="password" name="password_confirm" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th scope="col">이름</th>
                    <td>
                        <input type="text" name="name" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th scope="col">성별</th>
                    <td>
                        <input type="radio" id="gender_M" name="gender" value="M" checked="checked">
                        <label for="gender_M">남자</label>
                        <input type="radio" id="gender_W" name="gender" value="W">
                        <label for="gender_W">여자</label>
                    </td>
                </tr>
                <tr>
                    <th scope="col">권한</th>
                    <td>
                        <select name="userRole" class="form-control form-select-sm">
                            <option th:each="role : ${userRole}" th:value="${role.role}" th:text="${role.desc}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">상태</th>
                    <td>
                        <select name="status" class="form-select form-select-sm">
                            <option th:each="status : ${useStatus}" th:value="${status.code}" th:text="${status.desc}"></option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-12" style="text-align: right">
                    <button class="btn btn-primary" id="listButton">목록</button>
                    <button class="btn btn-danger" id="registButton">등록</button>
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/js/memberService.js}"></script>
    <script th:inline="javascript">
        const listButton = document.querySelector('#listButton');
        const registButton = document.querySelector('#registButton');

        listButton.addEventListener('click', () => {
            location.href = './list';
        });

        registButton.addEventListener('click', fnRegist);

    </script>
</th:block>
</html>