<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragmant="nav">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/office/member/list">회원 관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/office/todo/list">TodoList 관리</a>
            </li>
        </ul>
    </div>
</nav>
</th:block>
</html>