<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoService</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div id="layoutError">
  <div id="layoutError_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="text-center mt-4">
              <h1 class="display-1" th:text="${code}"></h1>
              <p class="lead" th:text="${message}"></p>
              <a href="javascript:history.back();">Return to Back</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>